// fons-style
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@font-face {
  font-family: "Kcc-Ganpan";
  src: url("./font/KCC-Ganpan.otf") format("woff2");
}
// font-family: 'Roboto', sans-serif;
// font-family: 'Road Rage', sans-serif;
// font-family: 'Kcc-Ganpan';

// reset
* {
  padding: 0;
  margin: 0;
  font-family: "Kcc-Ganpan";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.home {
  // border: 1px solid #f00;
  background: #fff7e1;
  width: 100%;
  height: 100vh;
  .bg {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    .bg-LT,
    .bg-LB,
    .bg-RT,
    .bg-RM,
    .bg-RB {
      position: absolute;
      display: flex;
    }
    .bg-LT {
      top: 0;
      left: 0;
    }
    .bg-LB {
      bottom: -1%;
      left: 0;
      width: 40%;
      height: 40%;
    }
    .bg-RT {
      top: 0;
      right: 0;
    }
    .bg-RM {
      top: 50%;
      right: 0;
    }
    .bg-RB {
      bottom: -1%;
      right: 0;
    }
  }

  .wrap {
    border: 1px solid #f00;
    // ---이걸넣어서 올라왔다--
    position: absolute;
    display: flex;
    // -----------------
    top: 0;
    left: 0;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    // header
    header {
      // ---이걸넣어서 올라왔다--
      position: fixed;
      left: 0%;
        top: 10%;
      // -----------------
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 3rem;
        position: absolute;
        left: 10%;
        .logo-back {
          color: #ff5d2c;
        }
      }
      .menu {
        position: absolute;
        // top: 40px;
        right: 10%;
        display: flex;
        // align-items: center;
        .menu-on {
          font: normal 1.4rem/1 "Roboto", sans-serif;
          color: #ff5d2c;
          margin: 1rem;
          .menu-on-left,
          .menu-on-right {
            color: #ff8255;
            margin: 10px;
          }
        }
        .menu-off {
          font: normal 1.1rem/1 "Roboto", sans-serif;
          margin: 1.2rem;
        }
      }
      .menu-toggle-btn {
        display: none;
      }
    }
    section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-47%, -45%);
      display: flex;
      width: 100%;
      height: 50%;
      justify-content: center;
      .img {
        display: flex;
        height: 100%;
        #section-W2 {
          position: absolute;
          bottom: 0;
          left: 49.5%;
          left: 43%;
          height: 20%;
        }
      }
      .text{
        // border: 1px solid #00f;
        justify-content: start;
        display: inline-block;
        text-align: left;
        position: relative;
        top: 27%;
        padding: 0.3rem;
        #sub1 {
          // border: 1px solid #f00;
          font: normal 1rem/1 "Roboto";
          letter-spacing: 0.3rem;
          margin-left: 0.3rem;
          margin-bottom: 0.1rem;
        }
        #home-title1{
          // border: 1px solid #f00;
          font: normal 6rem/0.7 "Road Rage";
          letter-spacing: 0.05rem;
          margin-bottom: 0.7rem;
        }
        #home-title2{
          // border: 1px solid #0f0;
          font: normal 6rem/0.7 "Road Rage";
          letter-spacing: 0.05rem;
          margin-bottom: 0.7rem;
        }
        #home-title3{
          // border: 1px solid #00f;
          font: normal 6rem/0.7 "Road Rage";
          letter-spacing: 0.05rem;
        }
      }
     }
    }
    .sns {
      // border: 2px solid pink;
      left: 4%;
      bottom: 35%;
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      transform: rotate(-90deg);
      .social {
        font: normal 1.2rem/1 "Roboto";
        letter-spacing: 0.07rem;
      }
      .fa-square-instagram {
        margin: 0.5rem;
      }
      .fa-square-facebook {
        margin: 0.5rem;
      }
      .fa-github {
        margin: 0.5rem;
      }
      .fa-google {
        margin: 0.5rem;
      }
    }
  }
